<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"        
	default-autowire="byName" default-lazy-init="false">

	<!-- <context:property-placeholder location="classpath:jdbc.properties" /> --> 
	<!-- <aop:aspectj-autoproxy proxy-target-class="true" /> -->

	<!-- 使用 annotation 方式來設定 -->
	<context:annotation-config/>
	<!-- For spring MVC scan @Component -->
<!-- 	<context:component-scan base-package="tw.gov.nsc.pl.action.*"></context:component-scan> -->
	<!-- 	<mvc:annotation-driven/> -->
	 <aop:aspectj-autoproxy/>
	 <aop:config proxy-target-class = "true" />
	 

	<!-- 載入所有設定 如果有的話 -->	 		
    <import resource="classpath*:/ApplicationContext-*.xml"/>
<!--     <import resource="classpath*:/service_beans.xml"/> -->
   	
</beans>
